includes:
    - ./vendor/roave/no-floaters/rules.neon

parameters:
    level: max
    phpVersion: 80200
    checkMissingIterableValueType: true
    treatPhpDocTypesAsCertain: false
    tipsOfTheDay: false
    reportWrongPhpDocTypeInVarTag: true
    paths:
        - src
        - tests
    ignoreErrors: