includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    phpVersion: 80300
    treatPhpDocTypesAsCertain: false
    tipsOfTheDay: false
    reportWrongPhpDocTypeInVarTag: true
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    checkBenevolentUnionTypes: true
    checkUninitializedProperties: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkImplicitMixed: true
    reportAnyTypeWideningInVarTag: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportPossiblyNonexistentGeneralArrayOffset: true

    paths:
        - src
        - tests

    ignoreErrors:

    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 32
        minimumNumberOfJobsPerProcess: 2

    tmpDir: .phpstan
