<?xml version="1.0" encoding="UTF-8"?>
<phpunit executionOrder="random"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         cacheDirectory=".phpunit.cache"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         failOnWarning="true"
         failOnRisky="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <extensions>
        <bootstrap class="Psalm\PhpUnitPlugin\Plugin"/>
    </extensions>
    <coverage>
        <report>
            <html outputDirectory="reports/code-coverage/html"/>
            <clover outputFile="reports/code-coverage/clover.xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="reports/code-coverage/junit.xml"/>
    </logging>
</phpunit>
